@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  color: #4f46e5;
}
